---

---

<section class="section inner-banner">
  <div class="banner-full-image">
    <div class="background-banner"></div>
    <img
      srcset="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65699f505a35f03f3d0a7172_sofa-red-living-roomol-p-500.webp 500w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65699f505a35f03f3d0a7172_sofa-red-living-roomol-p-800.webp 800w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65699f505a35f03f3d0a7172_sofa-red-living-roomol-p-1080.webp 1080w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65699f505a35f03f3d0a7172_sofa-red-living-roomol-p-1600.webp 1600w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65699f505a35f03f3d0a7172_sofa-red-living-roomol.webp 1920w"
      loading="lazy"
      sizes="(max-width: 479px) 96vw, (max-width: 991px) 97vw, (max-width: 1919px) 98vw, 100vw"
      alt=""
      src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65699f505a35f03f3d0a7172_sofa-red-living-roomol.webp"
      class="image-banner inner-top"
    />
  </div>
  <div class="inner-banner">
    <div class="base-container w-container">
      <div class="inner-content">
        <div class="banner-title-wrapper">
          <h1
            data-w-id="fe347540-b17b-7eb6-0d52-86453fd36721"
            style="opacity:0"
            class="banner-title mt-[20px] text-[72px]"
          >
            About us
          </h1>
          <p
            data-w-id="8fd01a57-b1c8-0642-072c-b9e428775cf0"
            style="opacity:0"
            class="paragraph-large text-white"
          >
            We understand the unique requirements of commercial spaces,
            including the need for minimal disruption to daily operations.
          </p>
        </div>
        <div
          data-w-id="4978a669-aa02-add4-9c8d-d7a5f11b7da8"
          style="opacity:0"
          class="w-layout-grid grid-4-columns inner"
        >
          <div
            id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7da9-f4c5aec9"
            data-w-id="4978a669-aa02-add4-9c8d-d7a5f11b7da9"
            style="opacity:0"
            class="padding-xsmall center"
          >
            <h4 class="number inner">01</h4>
            <p
              id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7dac-f4c5aec9"
              class="all-caps large-text-white"
            >
              Eco-Friendly Painting
            </p>
          </div>
          <div
            id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7dae-f4c5aec9"
            data-w-id="4978a669-aa02-add4-9c8d-d7a5f11b7dae"
            style="opacity:0"
            class="padding-xsmall center"
          >
            <h4 class="number inner">02</h4>
            <p
              id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7db1-f4c5aec9"
              class="all-caps large-text-white"
            >
              Precision Interior Painting
            </p>
          </div>
          <div
            id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7db3-f4c5aec9"
            data-w-id="4978a669-aa02-add4-9c8d-d7a5f11b7db3"
            style="opacity:0"
            class="padding-xsmall center"
          >
            <h4 class="number inner">03</h4>
            <p
              id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7db6-f4c5aec9"
              class="all-caps large-text-white"
            >
              Precision Interior Painting
            </p>
          </div>
          <div
            id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7db8-f4c5aec9"
            data-w-id="4978a669-aa02-add4-9c8d-d7a5f11b7db8"
            style="opacity:0"
            class="padding-xsmall center"
          >
            <h4 class="number inner">04</h4>
            <p
              id="w-node-_4978a669-aa02-add4-9c8d-d7a5f11b7dbb-f4c5aec9"
              class="all-caps large-text-white"
            >
              Custom Murals &amp; Artwork
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
