---

---

<div class="section without-space">
  <div class="base-container large w-container">
    <div
      id="w-node-d895d683-390e-98c3-f8e6-b8d868d4b058-f4c5aec9"
      class="w-layout-layout quick-stack wf-layout-layout"
    >
      <div
        id="w-node-d895d683-390e-98c3-f8e6-b8d868d4b059-f4c5aec9"
        data-w-id="d895d683-390e-98c3-f8e6-b8d868d4b059"
        style="opacity:0"
        class="w-layout-cell"
      >
        <div class="service-block-link">
          <div class="service-content-wrap">
            <div class="service-content-block">
              <h2 class="text-center text-white">
                Become a key player in our best community
              </h2>
              <p class="paragraph-large text-white">
                We are committed to crafting unique, visually stunning spaces
                that exceed client expectations
              </p>
              <div class="home-btn-wrap">
                <a
                  data-w-id="fed4e71e-aac8-39c0-5677-257e47db862b"
                  href="/career"
                  class="white-bubble-btn w-inline-block"
                >
                  <div class="secondary-btn-text">Careers</div>
                  <div class="button-hover-circle dark"></div>
                </a>
              </div>
            </div>
            <p class="all-caps text-white">
              ANTI-MOLDING, ODOURLESS AND EASY TO CLEAN
            </p>
          </div>
        </div>
      </div>
      <div
        id="w-node-d895d683-390e-98c3-f8e6-b8d868d4b065-f4c5aec9"
        data-w-id="d895d683-390e-98c3-f8e6-b8d868d4b065"
        style="opacity:0"
        class="w-layout-cell"
      >
        <div class="w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="d895d683-390e-98c3-f8e6-b8d868d4b066"
                href="/job-positions/brand-identity"
                class="service-block-link xsmall w-inline-block"
              >
                <img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569bc0fb26207c26024c2bb_interior-designer-withio.webp"
                  loading="lazy"
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, (max-width: 1919px) 1170px, 1570.0001220703125px"
                  srcset="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569bc0fb26207c26024c2bb_interior-designer-withio-p-500.webp 500w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569bc0fb26207c26024c2bb_interior-designer-withio-p-800.webp 800w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569bc0fb26207c26024c2bb_interior-designer-withio.webp 1000w"
                  alt="color palette"
                  class="image-services image-center"
                />
                <div class="service-content-wrap">
                  <h3
                    style="color:rgb(66,94,68)"
                    class="text-center primary-color"
                  >
                    Brand Identity
                  </h3>
                  <p style="opacity:0" class="description">
                    As the Brand Identity you will play a pivotal role in
                    translating brand identities into tangible visual elements
                    for commercial spaces.
                  </p>
                </div>
                <div
                  style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);display:none"
                  class="button-hover-circle green"
                >
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        id="w-node-d895d683-390e-98c3-f8e6-b8d868d4b06e-f4c5aec9"
        data-w-id="d895d683-390e-98c3-f8e6-b8d868d4b06e"
        style="opacity:0"
        class="w-layout-cell"
      >
        <div class="w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="b5c7b786-01ce-8ee0-671d-2a4fd88be8e2"
                href="/job-positions/creative-designer"
                class="service-block-link xsmall w-inline-block"
              >
                <img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff865499ea12453679_assortment-paintingjk.webp"
                  loading="lazy"
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, (max-width: 1919px) 1170px, 1570.0001220703125px"
                  srcset="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff865499ea12453679_assortment-paintingjk-p-500.webp 500w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff865499ea12453679_assortment-paintingjk-p-800.webp 800w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff865499ea12453679_assortment-paintingjk.webp 1000w"
                  alt="worker painting"
                  class="image-services top"
                />
                <div class="service-content-wrap">
                  <h3
                    style="color:rgb(66,94,68)"
                    class="text-center primary-color"
                  >
                    Creative Designer
                  </h3>
                  <p style="opacity:0" class="description">
                    Embark on a creative journey as a Creative Designer at
                    &quot;Painting.&quot; Collaborate with clients to bring
                    their visions to life through custom murals.
                  </p>
                </div>
                <div
                  style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);display:none"
                  class="button-hover-circle green"
                >
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        id="w-node-d895d683-390e-98c3-f8e6-b8d868d4b077-f4c5aec9"
        data-w-id="d895d683-390e-98c3-f8e6-b8d868d4b077"
        style="opacity:0"
        class="w-layout-cell"
      >
        <div class="w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a
                data-w-id="6c65ec9e-c833-62ba-aee2-aa28ea639304"
                href="/job-positions/mural-artist"
                class="service-block-link xsmall w-inline-block"
              >
                <img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff75665a89afe54f47_man-worker-applies-glue-with-paintu.webp"
                  loading="lazy"
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, (max-width: 1919px) 1170px, 1570.0001220703125px"
                  srcset="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff75665a89afe54f47_man-worker-applies-glue-with-paintu-p-500.webp 500w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff75665a89afe54f47_man-worker-applies-glue-with-paintu-p-800.webp 800w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff75665a89afe54f47_man-worker-applies-glue-with-paintu-p-1080.webp 1080w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569baff75665a89afe54f47_man-worker-applies-glue-with-paintu.webp 1308w"
                  alt="worker painting"
                  class="image-services top"
                />
                <div class="service-content-wrap">
                  <h3
                    style="color:rgb(66,94,68)"
                    class="text-center primary-color"
                  >
                    Mural Artist
                  </h3>
                  <p style="opacity:0" class="description">
                    Embark on a creative journey as a Mural Artist at
                    &quot;Painting.&quot; Collaborate with clients to bring
                    their visions to life through custom murals.
                  </p>
                </div>
                <div
                  style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);display:none"
                  class="button-hover-circle green"
                >
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
