---

---

<section class="section without-top-spacing">
  <div class="w-layout-blockcontainer base-container large w-container">
    <div
      data-w-id="724ec58a-e174-72b9-0a93-423f57d288ca"
      style="opacity:0"
      class="section-title-wrapper"
    >
      <h2 id="provide-assistance">Our Experts</h2>
    </div>
    <div
      data-w-id="81e38a5c-0a44-d5a6-f7fc-c694e7e2ff5b"
      style="opacity:0"
      class="shop-collection-list-wrapper"
    >
      <div class="shop-collection-list">
        <div
          id="w-node-_716203a8-0ffa-b0dc-cec5-20fae48ae75c-f4c5aec9"
          class="shop-collection-item"
        >
          <div class="main-shop-list-item">
            <div class="team-member-wrap">
              <div class="team-block without-line">
                <img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569af77866875695e24adb6_team%205.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image second"
                /><img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569ad33e912016a6729d5f8_team%201.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image first"
                />
              </div>
            </div>
            <div class="botton-block-shop">
              <div class="shop-price-wrapper vertical">
                <h6>Sarah Baker</h6>
                <div class="shop-item-price">Branding Specialist</div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-e1383e17-043d-d390-7942-f115ce7417ed-f4c5aec9"
          class="shop-collection-item"
        >
          <div class="main-shop-list-item">
            <div class="team-member-wrap">
              <div class="team-block without-line">
                <img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569af772c26a007f7239f76_team%206.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image second"
                /><img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569ad33050a0d478f3734cc_team%202.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image first"
                />
              </div>
            </div>
            <div class="botton-block-shop">
              <div class="shop-price-wrapper vertical">
                <h6>Reily Thompson</h6>
                <div class="shop-item-price">Color Consultant</div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-_9a7fb8eb-636e-ad80-0b62-08e6e555bfc3-f4c5aec9"
          class="shop-collection-item"
        >
          <div class="main-shop-list-item">
            <div class="team-member-wrap">
              <div class="team-block without-line">
                <img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569af77bc9b6e40c1e84bcb_team%207.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image second"
                /><img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569ad3422c1091780d29c09_team%203.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image first"
                />
              </div>
            </div>
            <div class="botton-block-shop">
              <div class="shop-price-wrapper vertical">
                <h6>Lara Tates</h6>
                <div class="shop-item-price">Chief Creative Officer</div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-c7106601-5ab7-bf27-c053-58eb12dac43a-f4c5aec9"
          class="shop-collection-item"
        >
          <div class="main-shop-list-item">
            <div class="team-member-wrap">
              <div class="team-block without-line">
                <img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569af772b1262d8ec83f125_team%208.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image second"
                /><img
                  src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569ad33dcd4aaffb41edae2_team%204.webp"
                  loading="lazy"
                  alt="photo"
                  class="team-list-image first"
                />
              </div>
            </div>
            <div class="botton-block-shop">
              <div class="shop-price-wrapper vertical">
                <h6>Corey Rodriguez</h6>
                <div class="shop-item-price">Senior Painter</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-w-id="724ec58a-e174-72b9-0a93-423f57d288de"
      style="opacity:0"
      class="home-btn-wrap"
    >
      <a
        data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
        href="/our-team"
        class="dark-bubble-btn w-inline-block"
      >
        <div class="secondary-btn-text">Our Team</div>
        <div class="button-hover-circle"></div>
      </a>
    </div>
  </div>
</section>
