---
import { BusinessInfo } from "@/data/business-info";
---

<div class="section without-top-spacing">
  <div class="base-container large w-container">
    <div
      id="w-node-_95502e7e-8971-2318-5863-7dbb93b829db-f4c5aec9"
      class="w-layout-layout quick-stack-two wf-layout-layout"
    >
      <div
        id="w-node-_95502e7e-8971-2318-5863-7dbb93b829dc-f4c5aec9"
        data-w-id="95502e7e-8971-2318-5863-7dbb93b829dc"
        style="opacity:0"
        class="w-layout-cell"
      >
        <img
          src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569a50b2779274ddc9e9ccf_pexels-tima-miroshnichenkos.webp"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, (max-width: 1919px) 1170px, 1570.0001220703125px"
          srcset="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569a50b2779274ddc9e9ccf_pexels-tima-miroshnichenkos-p-500.webp 500w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569a50b2779274ddc9e9ccf_pexels-tima-miroshnichenkos-p-800.webp 800w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569a50b2779274ddc9e9ccf_pexels-tima-miroshnichenkos-p-1080.webp 1080w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569a50b2779274ddc9e9ccf_pexels-tima-miroshnichenkos-p-1600.webp 1600w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569a50b2779274ddc9e9ccf_pexels-tima-miroshnichenkos.webp 1920w"
          alt="color palette"
          class="image-about"
        />
      </div>
      <div
        id="w-node-_95502e7e-8971-2318-5863-7dbb93b829df-f4c5aec9"
        data-w-id="95502e7e-8971-2318-5863-7dbb93b829df"
        style="opacity:0"
        class="w-layout-cell"
      >
        <div class="service-block-link light">
          <div class="service-content-wrap">
            <div class="service-content-block">
              <h2 class="text-center primary-color">
                &quot;{BusinessInfo.companyName}&quot; has become a trusted name
                in the industry.
              </h2>
              <div class="home-btn-wrap">
                <a
                  data-w-id="d7670a66-de06-086a-4045-3c68fbd1e1e4"
                  href="/why-choose-us"
                  class="secondary-bubble-btn w-inline-block"
                >
                  <div class="secondary-btn-text">Why Choose Us</div>
                  <div class="button-hover-circle dark"></div>
                </a>
              </div>
            </div>
            <p class="all-caps text-primary-color">
              FIND MORE INSPIRATION ON OUR <a href="/gallery"
                ><span class="link-with-underline">GALLERY</span></a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
