---
import NavBar from "@/components/navbar/index.astro";
import Footer from "@/components/footer/index.astro";
---

<!doctype html>
<html
  data-wf-domain="painting-128.webflow.io"
  data-wf-page="655b7c0c2a4a4972f4c5af3b"
  data-wf-site="65576d2f478026e86cc17ae3"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <title>Pricing Page - Painting 128</title>
    <meta content="Pricing Page - Painting 128" property="og:title" />
    <meta content="Pricing Page - Painting 128" property="twitter:title" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="./styles/global.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link
      href="https://fonts.gstatic.com"
      rel="preconnect"
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
      type="text/javascript"></script><script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            "Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic",
            "Playfair Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic",
            "Inter:300,regular,500,600,700,800,900",
          ],
        },
      });
    </script><script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        (n.className += t + "js"),
          ("ontouchstart" in o ||
            (o.DocumentTouch && c instanceof DocumentTouch)) &&
            (n.className += t + "touch");
      })(window, document);
    </script>
    <link
      href="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6572db5aeb69948a923b80da_Favicon.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link
      href="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6572db65a9bef53b0c164ada_Webclip.png"
      rel="apple-touch-icon"
    />
    <script type="text/javascript">
      window.__WEBFLOW_CURRENCY_SETTINGS = {
        currencyCode: "USD",
        symbol: "$",
        decimal: ".",
        fractionDigits: 2,
        group: ",",
        template:
          '{{wf {"path":"symbol","type":"PlainText"} }} {{wf {"path":"amount","type":"CommercePrice"} }} {{wf {"path":"currencyCode","type":"PlainText"} }}',
        hideDecimalForWholeNumbers: false,
      };
    </script>
  </head>
  <body>
    <NavBar />
    <section class="section inner-banner">
      <div class="banner-full-image">
        <div class="background-banner"></div>
        <img
          srcset="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569d8bad4d8608f232fd46e_banner%20inner-p-500.webp 500w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569d8bad4d8608f232fd46e_banner%20inner-p-800.webp 800w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569d8bad4d8608f232fd46e_banner%20inner-p-1080.webp 1080w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569d8bad4d8608f232fd46e_banner%20inner-p-1600.webp 1600w, https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569d8bad4d8608f232fd46e_banner%20inner.webp 1920w"
          loading="lazy"
          sizes="(max-width: 479px) 96vw, (max-width: 991px) 97vw, (max-width: 1919px) 98vw, 100vw"
          alt=""
          src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/6569d8bad4d8608f232fd46e_banner%20inner.webp"
          class="image-banner inner-top"
        />
      </div>
      <div class="inner-banner">
        <div class="base-container w-container">
          <div class="inner-content">
            <div class="banner-title-wrapper">
              <h1
                data-w-id="b0c8f32c-8515-52ea-a033-33b38ec86904"
                style="opacity:0"
                class="banner-title"
              >
                Simple pricing
              </h1>
              <p
                data-w-id="b0c8f32c-8515-52ea-a033-33b38ec86906"
                style="opacity:0"
                class="paragraph-large text-white"
              >
                The pricing plans are designed to provide flexibility, and
                clients can further customize their packages based on specific
                preferences.
              </p>
            </div>
            <div
              data-w-id="b0c8f32c-8515-52ea-a033-33b38ec86908"
              style="opacity:0"
              class="w-layout-grid grid-4-columns inner"
            >
              <div
                id="w-node-b0c8f32c-8515-52ea-a033-33b38ec86909-f4c5af3b"
                data-w-id="b0c8f32c-8515-52ea-a033-33b38ec86909"
                style="opacity:0"
                class="padding-xsmall center"
              >
                <h4 class="number inner">01</h4>
                <p
                  id="w-node-b0c8f32c-8515-52ea-a033-33b38ec8690c-f4c5af3b"
                  class="all-caps large-text-white"
                >
                  Eco-Friendly Painting
                </p>
              </div>
              <div
                id="w-node-b0c8f32c-8515-52ea-a033-33b38ec8690e-f4c5af3b"
                data-w-id="b0c8f32c-8515-52ea-a033-33b38ec8690e"
                style="opacity:0"
                class="padding-xsmall center"
              >
                <h4 class="number inner">02</h4>
                <p
                  id="w-node-b0c8f32c-8515-52ea-a033-33b38ec86911-f4c5af3b"
                  class="all-caps large-text-white"
                >
                  Precision Interior Painting
                </p>
              </div>
              <div
                id="w-node-b0c8f32c-8515-52ea-a033-33b38ec86913-f4c5af3b"
                data-w-id="b0c8f32c-8515-52ea-a033-33b38ec86913"
                style="opacity:0"
                class="padding-xsmall center"
              >
                <h4 class="number inner">03</h4>
                <p
                  id="w-node-b0c8f32c-8515-52ea-a033-33b38ec86916-f4c5af3b"
                  class="all-caps large-text-white"
                >
                  Precision Interior Painting
                </p>
              </div>
              <div
                id="w-node-b0c8f32c-8515-52ea-a033-33b38ec86918-f4c5af3b"
                data-w-id="b0c8f32c-8515-52ea-a033-33b38ec86918"
                style="opacity:0"
                class="padding-xsmall center"
              >
                <h4 class="number inner">04</h4>
                <p
                  id="w-node-b0c8f32c-8515-52ea-a033-33b38ec8691b-f4c5af3b"
                  class="all-caps large-text-white"
                >
                  Custom Murals &amp; Artwork
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section">
      <div class="base-container w-container">
        <div class="section-title-wrapper">
          <h6
            data-w-id="90ee722b-09d1-da49-e68d-fca388691f46"
            style="opacity:0"
            class="section-subtitle"
          >
            basic pack
          </h6>
          <h2
            data-w-id="9c19f9ad-bdfb-24d7-3be6-563a042f6ab0"
            style="opacity:0"
            class="section-title"
          >
            Services included in every plan
          </h2>
          <p
            data-w-id="9c19f9ad-bdfb-24d7-3be6-563a042f6ab2"
            style="opacity:0"
            class="section-title-description"
          >
            Commercial project pricing may vary depending on factors such as
            square footage, branding requirements, and project complexity.
          </p>
        </div>
        <div class="services-wrapper">
          <div
            data-w-id="46bb476a-a40c-85d9-6fa7-3e85df5b7ab4"
            style="opacity:0"
            class="services-item"
          >
            <h5><span class="icon-text"></span>Customer service</h5>
            <p class="services-item-description">
              Our team examines the surfaces to be painted, evaluates the
              condition of existing paint.
            </p>
            <a href="/services" class="link-with-icon right"
              >Learn more<span class="text-button-icon"></span></a
            >
          </div>
          <div
            data-w-id="46bb476a-a40c-85d9-6fa7-3e85df5b7abf"
            style="opacity:0"
            class="services-item"
          >
            <h5><span class="icon-text"></span>Sales &amp; marketing</h5>
            <p class="services-item-description">
              Our team meets with clients to understand their vision,
              preferences, and requirements.
            </p>
            <a href="/about-us" class="link-with-icon right"
              >Learn more<span class="text-button-icon"></span></a
            >
          </div>
          <div
            data-w-id="46bb476a-a40c-85d9-6fa7-3e85df5b7aca"
            style="opacity:0"
            class="services-item last-child"
          >
            <h5><span class="icon-text"></span>Customer support</h5>
            <p class="services-item-description">
              Preparation is the key to a flawless finish. Our team thoroughly
              prepares surfaces.
            </p>
            <a href="/contact-us" class="link-with-icon right"
              >Contact support<span class="text-button-icon"></span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="section light-background">
      <div class="base-container w-container">
        <div class="section-title-wrapper">
          <h6
            data-w-id="f4f22c53-60cb-0981-4084-6e7f5754c41d"
            style="opacity:0"
            class="section-subtitle"
          >
            pricing plans
          </h6>
          <h2
            data-w-id="f4f22c53-60cb-0981-4084-6e7f5754c41f"
            style="opacity:0"
            class="section-title"
          >
            Pricing that suits your needs
          </h2>
          <p
            data-w-id="f4f22c53-60cb-0981-4084-6e7f5754c421"
            style="opacity:0"
            class="section-title-description"
          >
            Additional travel fees may apply for projects located outside our
            standard service area. Prices are starting points and may vary based
            on the specific needs and size of the project.
          </p>
        </div>
        <div class="pricing-plans-wrapper">
          <div
            data-w-id="1282151d-d0cb-e614-a27c-134f813053ed"
            style="opacity:0"
            class="pricing-plan-item"
          >
            <h3 class="pricing-plan-item-title">Essential Package</h3>
            <p class="paragraph-large text-center">
              Ideal for Residential Spaces and Small Commercial Areas
            </p>
            <div class="pricing-plan-price-wrapper">
              <div class="pricing-plan-currency-icon">$</div>
              <h6><span class="pricing-plan-price">50</span>/month</h6>
            </div>
            <ul role="list" class="pricing-plan-list">
              <li>
                <span class="ceck-icon"></span>Interior or exterior painting
              </li>
              <li>
                <span class="ceck-icon"></span>Standard color consultation
              </li>
              <li>
                <span class="ceck-icon"></span>Use of high-quality, low-VOC
              </li>
              <li><span class="ceck-icon"></span>Surface preparation</li>
              <li><span class="ceck-icon"></span>Basic warranty coverage</li>
            </ul>
            <a
              data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
              href="/contact-us"
              class="dark-bubble-btn w-inline-block"
            >
              <div class="secondary-btn-text">Buy Now</div>
              <div class="button-hover-circle"></div>
            </a>
          </div>
          <div
            data-w-id="652dafec-dc56-6646-cb1f-c4226c6232b4"
            style="opacity:0"
            class="pricing-plan-item"
          >
            <h3 class="pricing-plan-item-title">Premium Package</h3>
            <p class="paragraph-large text-center">
              Perfect for Larger Homes and Medium-Sized Commercial
            </p>
            <div class="pricing-plan-price-wrapper">
              <div class="pricing-plan-currency-icon">$</div>
              <h6><span class="pricing-plan-price">60</span>/month</h6>
            </div>
            <ul role="list" class="pricing-plan-list">
              <li><span class="ceck-icon"></span>Comprehensive interior</li>
              <li>
                <span class="ceck-icon"></span>In-depth color consultation
              </li>
              <li>
                <span class="ceck-icon"></span>Use of premium eco-friendly
              </li>
              <li><span class="ceck-icon"></span>Thorough surface</li>
              <li>
                <span class="ceck-icon"></span>Enhanced warranty coverage
              </li>
            </ul>
            <a
              data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
              href="/contact-us"
              class="dark-bubble-btn w-inline-block"
            >
              <div class="secondary-btn-text">Buy Now</div>
              <div class="button-hover-circle"></div>
            </a>
          </div>
          <div
            id="w-node-_79d18c5a-c0ff-3dd2-64ff-fa0e8ffcd236-f4c5af3b"
            data-w-id="79d18c5a-c0ff-3dd2-64ff-fa0e8ffcd236"
            style="opacity:0"
            class="pricing-plan-item"
          >
            <h3 class="pricing-plan-item-title">Signature Package</h3>
            <p class="paragraph-large text-center">
              Tailored for Luxury Residences and Commercial
            </p>
            <div class="pricing-plan-price-wrapper">
              <div class="pricing-plan-currency-icon">$</div>
              <h6><span class="pricing-plan-price">120</span>/month</h6>
            </div>
            <ul role="list" class="pricing-plan-list">
              <li>
                <span class="ceck-icon"></span>Full-service interior &amp;
                exterior
              </li>
              <li>
                <span class="ceck-icon"></span>Standard color consultation
              </li>
              <li>
                <span class="ceck-icon"></span>Extensive color consultation
              </li>
              <li>
                <span class="ceck-icon"></span>Extensive surface preparation
              </li>
              <li><span class="ceck-icon"></span>Premium warranty coverage</li>
            </ul>
            <a
              data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
              href="/contact-us"
              class="dark-bubble-btn w-inline-block"
            >
              <div class="secondary-btn-text">Buy Now</div>
              <div class="button-hover-circle"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section without-bottom-spacing">
      <div class="base-container w-container">
        <div class="section-title-wrapper">
          <h6
            data-w-id="44b8e1d7-dcb5-678d-efd4-b300e304c914"
            style="opacity:0"
            class="section-subtitle"
          >
            comparing table
          </h6>
          <h2
            data-w-id="44b8e1d7-dcb5-678d-efd4-b300e304c916"
            style="opacity:0"
            class="section-title"
          >
            Compare pricing plans to find the best
          </h2>
          <p
            data-w-id="44b8e1d7-dcb5-678d-efd4-b300e304c918"
            style="opacity:0"
            class="section-title-description"
          >
            Commercial project pricing may vary depending on factors such as
            square footage, branding requirements, and project complexity.
          </p>
        </div>
        <div class="comparing-table-wrapper">
          <div
            data-w-id="e7b66333-c506-5142-3bdb-8948708858a7"
            style="opacity:0"
            class="comparing-table-features-wrapper"
          >
            <div class="comparing-table-features-title">
              <h3>Features</h3>
            </div>
            <div class="comparing-table-list-wrapper">
              <ul role="list" class="comparing-table-list">
                <li class="comparing-table-list-item">
                  Interior or exterior painting
                </li>
                <li class="comparing-table-list-item">Custom mural option</li>
                <li class="comparing-table-list-item">Branding immersion</li>
                <li class="comparing-table-list-item">Eco-friendly paints</li>
                <li class="comparing-table-list-item">
                  Statistics and tracking
                </li>
                <li class="comparing-table-list-item">Color consultation</li>
                <li class="comparing-table-list-item">
                  Basic warranty coverage
                </li>
              </ul>
            </div>
          </div>
          <div
            data-w-id="a8f43dbb-f703-d9e9-ccc5-e9f68c3479ea"
            style="opacity:0"
            class="comparing-table-plans-wrapper"
          >
            <div class="comparing-table-plan">
              <div class="comparing-table-plan-title">
                <h6 class="text-white">Basic</h6>
                <h4 class="text-white">Essential Package</h4>
              </div>
              <div class="comparing-table-content-wrapper">
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Interior or exterior painting
                  </h6>
                  <p>Up to 3 rooms</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Custom mural option
                  </h6>
                  <p>One accent wall</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Premium supports
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Branding immersion
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Eco-friendly paints
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Color consultation
                  </h6>
                  <p>Standard</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Basic warranty coverage
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-button-wrapper">
                  <a
                    data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
                    href="/contact-us"
                    class="dark-bubble-btn w-inline-block"
                  >
                    <div class="secondary-btn-text">Purchase</div>
                    <div class="button-hover-circle"></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="comparing-table-plan">
              <div class="comparing-table-plan-title">
                <h6 class="text-white">Advanced</h6>
                <h4 class="text-white">Premium Package</h4>
              </div>
              <div class="comparing-table-content-wrapper">
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Interior or exterior painting
                  </h6>
                  <p>Up to 5 rooms</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Custom mural option
                  </h6>
                  <p>Two accent wall</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Premium supports
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Branding immersion
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Eco-friendly paints
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Color consultation
                  </h6>
                  <p>In-depth</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Basic warranty coverage
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-button-wrapper">
                  <a
                    data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
                    href="/contact-us"
                    class="dark-bubble-btn w-inline-block"
                  >
                    <div class="secondary-btn-text">Purchase</div>
                    <div class="button-hover-circle"></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="comparing-table-plan last-child">
              <div class="comparing-table-plan-title">
                <h6 class="text-white">Premium</h6>
                <h4 class="text-white">Signature Package</h4>
              </div>
              <div class="comparing-table-content-wrapper">
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Interior or exterior painting
                  </h6>
                  <p>Up to 10 rooms</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Custom mural option
                  </h6>
                  <p>Five+ accent wall</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Premium supports
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Branding immersion
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Eco-friendly paints
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Color consultation
                  </h6>
                  <p>Extensive</p>
                </div>
                <div class="comparing-table-content-item">
                  <h6 class="comparing-table-content-item-title">
                    Basic warranty coverage
                  </h6>
                  <p class="comparing-table-tick-icon"></p>
                </div>
                <div class="comparing-table-button-wrapper">
                  <a
                    data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
                    href="/contact-us"
                    class="dark-bubble-btn w-inline-block"
                  >
                    <div class="secondary-btn-text">Purchase</div>
                    <div class="button-hover-circle"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section without-bottom-spacing">
      <div class="base-container large w-container">
        <div
          data-w-id="85253bfd-8537-47c1-7222-80755006f05f"
          style="opacity:0"
          class="w-layout-grid career-customers-wrapper"
        >
          <img
            src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65576d30478026e86cc17bc0_logo-03.png"
            loading="lazy"
            alt="logo"
            class="career-customer-item"
          /><img
            src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65576d30478026e86cc17bad_62f64e1e53f5f6ea8af36e4d_Group-31.png"
            loading="lazy"
            alt="logo"
            class="career-customer-item"
          /><img
            src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65576d30478026e86cc17bc4_63b7f08aa7e1510f0b72d446_Clients-6.png"
            loading="lazy"
            alt="logo"
            class="career-customer-item"
          /><img
            src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65576d30478026e86cc17bc5_logo-01.png"
            loading="lazy"
            alt="logo"
            class="career-customer-item"
          /><img
            src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65576d30478026e86cc17bac_63b7f08aa7e151ba8f72d443_Clients-4.png"
            loading="lazy"
            alt="logo"
            class="career-customer-item"
          /><img
            src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/65576d30478026e86cc17bc1_63b7f08aa7e1510e1c72d448_Clients-5.png"
            loading="lazy"
            alt="logo"
            class="career-customer-item"
          />
        </div>
      </div>
    </div>
    <div class="section">
      <div class="base-container large w-container">
        <div
          data-delay="400"
          data-animation="slide"
          class="testimonials-slider-style w-slider"
          data-autoplay="false"
          data-easing="ease"
          style="opacity:0"
          data-hide-arrows="false"
          data-disable-swipe="false"
          data-w-id="1286bbde-e6aa-e82b-5184-4efd789bf681"
          data-autoplay-limit="0"
          data-nav-spacing="5"
          data-duration="500"
          data-infinite="true"
        >
          <div class="margin-left-right-auto text-content-center w-slider-mask">
            <div class="w-slide">
              <div class="flex-vertical-align-center padding-tiny">
                <p class="teatimonial-text">
                  &quot;Choosing &#x27;Painting&#x27; for our home was the best
                  decision we made. From the initial color consultation to the
                  flawless execution of interior painting, they exceeded our
                  expectations. The attention to detail and professionalism of
                  the team truly transformed our living spaces. We couldn&#x27;t
                  be happier!&quot;
                </p>
                <div class="flex-vertical-align-center">
                  <div class="margin-top-small">
                    <p class="paragraph-large">Sarah H<strong>.</strong></p>
                  </div>
                  <div class="review-stars">    </div>
                </div>
              </div>
            </div>
            <div class="w-slide">
              <div class="flex-vertical-align-center padding-tiny">
                <p class="teatimonial-text">
                  &quot;As a business owner, I needed a painting service.
                  &#x27;Painting&#x27; not only revitalized our commercial space
                  but also worked closely with us to incorporate our brand
                  colors seamlessly. The result? A professional, inviting
                  atmosphere that perfectly aligns with our business
                  identity.&quot;
                </p>
                <div class="flex-vertical-align-center">
                  <div class="margin-top-small">
                    <p class="paragraph-large">John M.</p>
                  </div>
                  <div class="review-stars">    </div>
                </div>
              </div>
            </div>
            <div class="w-slide">
              <div class="flex-vertical-align-center padding-tiny">
                <p class="teatimonial-text">
                  Our building had seen better days, and &#x27;Painting&#x27;
                  brought it back to life. The exterior facade restoration was
                  completed with precision and efficiency. The attention to
                  detail and commitment to quality were evident throughout the
                  process. I highly recommend their services for any restoration
                  project.&quot;
                </p>
                <div class="flex-vertical-align-center">
                  <div class="margin-top-small">
                    <p class="paragraph-large">Lisa G.</p>
                  </div>
                  <div class="review-stars">    </div>
                </div>
              </div>
            </div>
          </div>
          <a href="/testimonials" class="link-with-underline"
            >READ MORE REVIEWS</a
          >
          <div class="testimonials-slider-arrow-2 w-slider-arrow-left">
            <div class="testimonials-slider-arrow-icon-2"></div>
          </div>
          <div class="testimonials-slider-arrow-2 w-slider-arrow-right">
            <div class="testimonials-slider-arrow-icon-2"></div>
          </div>
          <div class="hidden w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
      </div>
    </div>
    <Footer />
    <script
      src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=65576d2f478026e86cc17ae3"
      type="text/javascript"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script><script
      src="./script/home.js"
      type="text/javascript"></script>
  </body>
</html>
