---

---

<div
  data-animation="over-left"
  class="navbar w-nav"
  data-easing2="ease"
  data-easing="ease"
  data-collapse="medium"
  data-w-id="abfcf9f2-279d-dc11-2d82-4b2872cc13b5"
  role="banner"
  data-duration="400"
  data-doc-height="1"
>
  <div class="nav-container second w-container">
    <div class="libe-block second">
      <div
        data-w-id="065b155f-e865-7561-5d0f-ce285108f1cf"
        class="benefits-line second"
      >
      </div>
    </div>
    <div class="nav-menu-wrapper second">
      <a href="/" class="brand second w-nav-brand"
        ><img
          src="./assets/images/dark_logo.png"
          loading="lazy"
          alt="logo dark"
          height="60"
          class="image-logo-dark"
        /></a
      >
      <nav role="navigation" class="nav-menu width w-nav-menu">
        <div class="tablet-menu second">
          <a href="/" class="brand-tablet w-nav-brand"
            ><img
              src="./assets/images/dark_logo.png"
              loading="lazy"
              alt="logo dark"
              height="30"
              class="image-logo-dark"
            /></a
          >
          <div class="close-menu-button w-nav-button">
            <img
              src="https://assets-global.website-files.com/65576d2f478026e86cc17ae3/655f22a1e1f5554d59ce3f76_close-btn.svg"
              loading="lazy"
              alt="icon close"
              class="nav-close-icon"
            />
          </div>
        </div>
        <div class="menu-wrap start">
          <div
            data-hover="true"
            data-delay="0"
            data-w-id="66111c91-3fd7-87c9-e6c2-75ab38be9173"
            class="nav-dropdown w-dropdown"
          >
            <div class="nav-dropdown-toggle home-2 w-dropdown-toggle">
              <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
              <p class="nav-item-title dark">Home</p>
            </div>
          </div>
          <div
            data-hover="true"
            data-delay="0"
            data-w-id="66111c91-3fd7-87c9-e6c2-75ab38be9187"
            class="nav-dropdown w-dropdown"
          >
            <div class="nav-dropdown-toggle home-2 w-dropdown-toggle">
              <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
              <p class="nav-item-title dark">About</p>
            </div>
            <nav class="nav-dropdown-list w-dropdown-list">
              <div class="nav-dropdown-link-wrapper">
                <a href="/about-us" class="nav-dropdown-link w-dropdown-link"
                  ><span class="nav-dropdown-link-line"> </span>About Us</a
                ><a
                  href="/why-choose-us"
                  class="nav-dropdown-link w-dropdown-link"
                  ><span class="nav-dropdown-link-line"> </span>Why Choose Us</a
                ><a href="/career" class="nav-dropdown-link w-dropdown-link"
                  ><span class="nav-dropdown-link-line"> </span>Careers</a
                ><a href="/gallery" class="nav-dropdown-link w-dropdown-link"
                  ><span class="nav-dropdown-link-line"> </span>Gallery</a
                ><a href="/faq" class="nav-dropdown-link w-dropdown-link"
                  ><span class="nav-dropdown-link-line"> </span>fAQ</a
                >
              </div>
            </nav>
          </div>
          <a href="/services" class="nav-link dark-padding w-nav-link"
            >Services</a
          ><a href="/pricing" class="nav-link dark-padding w-nav-link"
            >Pricing</a
          ><a href="/projects" class="nav-link dark-padding w-nav-link"
            >Projects</a
          >

          <div class="block-button-tablet">
            <a
              data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
              href="/contact-us"
              class="dark-bubble-btn w-inline-block"
            >
              <div class="secondary-btn-text">Contact Us</div>
              <div class="button-hover-circle"></div>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="block-button-header">
      <a
        data-w-id="ce5e33f2-035a-20f7-0d5a-a2f9bfb4f39e"
        href="/contact-us"
        class="dark-bubble-btn w-inline-block"
      >
        <div class="secondary-btn-text">Contact Us</div>
        <div class="button-hover-circle"></div>
      </a>
    </div>
  </div>
</div>
