---

---

<div class="w-layout-cell h-auto">
  <div class="service-block-link light">
    <div class="service-content-wrap">
      <div class="service-content-block">
        <h2 class="text-center primary-color">
          Inspiration on everything from colors to design
        </h2>
        <div class="home-btn-wrap">
          <a
            data-w-id="d7670a66-de06-086a-4045-3c68fbd1e1e4"
            href="/projects"
            class="secondary-bubble-btn w-inline-block"
          >
            <div class="secondary-btn-text">Projects</div>
            <div class="button-hover-circle dark"></div>
          </a>
        </div>
      </div>
      <p class="all-caps text-primary-color">
        FIND MORE INSPIRATION ON OUR <a href="/gallery"
          ><span class="link-with-underline">GALLERY</span></a
        >
      </p>
    </div>
  </div>
</div>
