---
import { BusinessInfo } from "@/data/business-info.js";
var YEAR = new Date().getUTCFullYear();
---

<div class="footer">
  <div class="base-container large w-container">
    <div
      data-w-id="daf981fd-9b17-a0fb-7466-2c35634f2c75"
      class="footer-wrapper"
    >
      <div class="footer-brand-wrapper">
        <h2 class="text-left">Sign up for our newsletter!</h2>
        <div class="banner-form w-form">
          <form
            id="email-form"
            name="email-form"
            data-name="Email Form"
            method="get"
            class="position-relative-2"
            data-wf-page-id="655b7c0c2a4a4972f4c5af2e"
            data-wf-element-id="03f4cd97-2b04-6d6a-05bf-0b055ab4f470"
          >
            <input
              class="banner-form-text-field w-input"
              maxlength="256"
              name="name"
              data-name="Name"
              placeholder="Enter your email address"
              type="email"
              id="email"
              required=""
            /><input
              type="submit"
              data-wait=""
              class="banner-form-button w-button"
              value=""
            />
          </form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="footer-logo-wrapper">
          <p class="footer-brand-description">
            Contact us today and discover the difference a brushstroke can make.
          </p>
        </div>
      </div>
      <div class="footer-link-block">
        <div class="footer-links-wrapper">
          <h6 class="margin-bottom-20">About</h6>
          <a href="/" class="footer-link">Home</a><a
            href="/about-us"
            class="footer-link">About Us</a
          ><a href="/services" class="footer-link">Services</a>
        </div>
        <div class="footer-links-wrapper">
          <h6 class="margin-bottom-20">Extra links</h6>
          <a href="/pricing" class="footer-link">Pricing</a>
          <a href="/projects" class="footer-link">Projects</a>
        </div>
        <div class="footer-links-wrapper">
          <h6 class="margin-bottom-20">Useful links</h6>
          <a href="/gallery" class="footer-link">Gallery</a>
          <a href="/faq" class="footer-link">FAQ</a>
          <a href="/career" class="footer-link">Careers</a>
        </div>
        <div
          id="w-node-daf981fd-9b17-a0fb-7466-2c35634f2c7b-634f2c73"
          class="footer-social-icons-wrapper"
        >
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="footer-social-icon"></a
          ><a
            href="https://www.instagram.com/"
            target="_blank"
            class="footer-social-icon"></a
          ><a
            href="https://twitter.com/"
            target="_blank"
            class="footer-social-icon"></a
          ><a
            href="https://dribbble.com/"
            target="_blank"
            class="footer-social-icon"></a
          ><a
            href="https://www.pinterest.com/"
            target="_blank"
            class="footer-social-icon last-child"></a
          >
        </div>
      </div>
    </div>
    <div
      data-w-id="daf981fd-9b17-a0fb-7466-2c35634f2ca5"
      class="footer-bottom-wrapper"
    >
      <div class="footer-copyright">
        © {BusinessInfo.companyName}. All Rights Reserved {YEAR}. <a
          href="/templates/licensing"
          class="footer-copyright-link">Licensing</a
        >
      </div>
      <div class="footer-rights-wrapper"></div>
    </div>
  </div>
</div>
