---
import LeftArrow from "@/assets/icons/left.png";
import RightArrow from "@/assets/icons/right.png";
import { BusinessInfo } from "@/data/business-info";
const { id = "2f947911-df0a-9721-d242-8ce8bc528d5d" } = Astro.props;
---

<div class="section">
  <div class="base-container large w-container">
    <div
      data-delay="400"
      data-animation="slide"
      class="testimonials-slider-style w-slider"
      data-autoplay="false"
      data-easing="ease"
      style="opacity:0"
      data-hide-arrows="false"
      data-disable-swipe="false"
      data-w-id={id}
      data-autoplay-limit="0"
      data-nav-spacing="5"
      data-duration="500"
      data-infinite="true"
    >
      <div class="margin-left-right-auto text-content-center w-slider-mask">
        <div class="w-slide">
          <div class="flex-vertical-align-center padding-tiny">
            <p class="teatimonial-text">
              &quot;Choosing &quot;{BusinessInfo.companyName}&quot; for our home
              was the best decision we made. From the initial color consultation
              to the flawless execution of interior painting, they exceeded our
              expectations. The attention to detail and professionalism of the
              team truly transformed our living spaces. We couldn&#x27;t be
              happier!&quot;
            </p>
            <div class="flex-vertical-align-center">
              <div class="margin-top-small">
                <p class="paragraph-large">Sarah H<strong>.</strong></p>
              </div>
              <div class="review-stars">    </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div class="flex-vertical-align-center padding-tiny">
            <p class="teatimonial-text">
              &quot;As a business owner, I needed a painting service. &#x27;{
                BusinessInfo.companyName
              }&#x27; not only revitalized our commercial space but also worked
              closely with us to incorporate our brand colors seamlessly. The
              result? A professional, inviting atmosphere that perfectly aligns
              with our business identity.&quot;
            </p>
            <div class="flex-vertical-align-center">
              <div class="margin-top-small">
                <p class="paragraph-large">John M.</p>
              </div>
              <div class="review-stars">    </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div class="flex-vertical-align-center padding-tiny">
            <p class="teatimonial-text">
              Our building had seen better days, and &quot;{
                BusinessInfo.companyName
              }&quot; brought it back to life. The exterior facade restoration
              was completed with precision and efficiency. The attention to
              detail and commitment to quality were evident throughout the
              process. I highly recommend their services for any restoration
              project.&quot;
            </p>
            <div class="flex-vertical-align-center">
              <div class="margin-top-small">
                <p class="paragraph-large">Lisa G.</p>
              </div>
              <div class="review-stars">    </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonials-slider-arrow-2 w-slider-arrow-left">
        <div class="testimonials-slider-arrow-icon-2">
          <img src="./assets/icons/left.png" alt="Left Arrow" />
        </div>
      </div>
      <div class="testimonials-slider-arrow-2 w-slider-arrow-right">
        <div class="testimonials-slider-arrow-icon-2">
          <img src="./assets/icons/right.png" alt="Right Arrow" />
        </div>
      </div>
      <div class="hidden w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
</div>
